<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainAdmin.html">
    <div layout:fragment="admin_content">
                    <div class="row">
                        <div class="col-8">
                            <h1 th:text="#{label.country}"></h1>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn float-right" style="background-color: #2e5f47; color: white" data-toggle="modal" data-target="#addCountry">
                                <span th:text="#{label.add}"></span>
                            </button>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th class="w-50" th:text="#{label.name}"></th>
                            <th class="w-25" th:text="#{label.code}"></th>
                            <th th:text="#{label.operations}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ctn : ${countries}">
                            <th scope="row" th:text="${ctn.id}"></th>
                            <td th:text="${ctn.name}"></td>
                            <td th:text="${ctn.code}"></td>
                            <td>
                                <a th:href="@{/editCountry/{id}(id=${ctn.id})}" class="btn btn-info btn-sm" th:text="#{button.edit}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
        <div class="modal fade" id="addCountry" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form th:action="@{'/addcountry'}" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" th:text="#{label.modalName}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">

                                <label th:text="#{label.name}">
                                </label>
                                <input type="text" class="form-control" name="country_name">
                            </div>
                            <div class="form-group">
                                <label th:text="#{label.code}"></label>
                                <input type="text" class="form-control" name="country_code">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.close}"></button>

                            <button type="submit" class="btn btn-primary" th:text="#{label.add}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--        &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--            Launch demo modal-->
<!--        </button>-->
<!--                </div>-->


<!--    &lt;!&ndash; Modal &ndash;&gt;-->
<!--    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    ...-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

            <!-- Modal -->




</html>