<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainAdmin.html">

<div layout:fragment="admin_content">
                    <div class="row">
                        <div class="col-8">
                            <h1 th:text="#{label.item}"></h1>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn float-right" style="background-color: #2e5f47; color: white" data-toggle="modal" data-target="#exampleModal">
                                <span th:text="#{button.additem}"></span>
                            </button>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th th:text="#{label.roles}"></th>
                            <th th:text="#{label.operations}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="r : ${roles}">
                            <th th:text="${r.id}"></th>
                            <td th:text="${r.role}"></td>
                            <td>
                                <a th:href="@{/editRole/{id}(id=${r.id})}" class="btn btn-info btn-sm" th:text="#{button.edit}"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
    <form th:action="@{'/addrole'}" method="post">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" th:text="#{label.modalName}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">

                            <label th:text="#{label.roles}">
                            </label>
                            <input type="text" class="form-control" name="role">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{label.close}"></button>

                        <button type="submit" class="btn btn-primary" th:text="#{label.additem}"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
                </div>

            <!-- Modal -->


</html>